/* #Tuyết */
.roundSmall,
.roundMedium,
.roundLarge {
  background: url(https://freepngimg.com/thumb/heart/36840-6-pink-heart-photos.png);
  background-size: 100% 100%;
  border-radius: 50%;
  position: absolute;
  width: 4px;
  height: 4px;
}
.roundMedium {
  width: 6px;
  height: 6px;
}
.roundLarge {
  width: 18px;
  height: 18px;
}
.starSmall,
.starMedium,
.starLarge {
  position: absolute;
  width: 10px;
  height: 10px;
  background: url(https://freepngimg.com/thumb/heart/2-2-heart-png-hd.png);
  background-size: 100% 100%;
}
.starMedium {
  width: 15px;
  height: 15px;
}
.starLarge {
  width: 20px;
  height: 20px;
}
.realSmall,
.realMedium,
.realLarge {
  position: absolute;
  width: 25px;
  height: 25px;
  background: url(https://freepngimg.com/thumb/heart/37044-4-3d-red-heart-image.png);
  background-size: 100% 100%;
}
.realMedium {
  width: 30px;
  height: 30px;
}
.realLarge {
  width: 40px;
  height: 40px;
}
.sharpSmall,
.sharpMedium,
.sharpLarge {
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
  background: url(https://freepngimg.com/thumb/heart/37044-4-3d-red-heart-image.png);
  background-size: 100% 100%;
  opacity: 0.7;
}
.sharpMedium {
  width: 28px;
  height: 28px;
}
.sharpLarge {
  width: 35px;
  height: 35px;
}
.ringSmall,
.ringMedium,
.ringLarge {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(https://freepngimg.com/thumb/heart/2-2-heart-png-hd.png);
  background-size: 100% 100%;
}
.ringMedium {
  width: 25px;
  height: 25px;
}
.ringLarge {
  width: 35px;
  height: 35px;
}
/* #endTuyet */