@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
body {
  /* background-image: url(../image/background.jpg); */
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
}
body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box-music{
  display: none;
}
.box-center {
  display: flex;
  justify-content: center;
}
.box-card {
  display: grid;
  height: 350px;
  background: rgb(0 0 0 / 19%);
  box-shadow: 0 10px 30px rgb(0 0 0 / 60%);
  border-radius: 15px;
  padding-top: 30px;
  margin: 0 20px;
  opacity: 0.9;
  transition: 0.5s;
}
.box-center-time{
  background: rgba(0, 0, 0, 0.89);
}
.box-image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: 0.5s;
}
.box-image img {
  width: 95%;
  align-items: center;
  box-shadow: 0 15px 35px rgb(0 0 0 / 60%);
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;

}
.box-card:hover .box-image{
  opacity: 1;
  transform: translateY(-20px);
}
.box-card:hover,.box-card:hover {
  background: rgba(0, 0, 0, 0.719);
  opacity: 1;
}
.box-card:hover .box-footer .box{
  transform: translateY(0px);
  opacity: 1;
}
.box-content h1{
  color: #fff;
}
.box-content p{
  color: rgb(255, 166, 0);
  margin: 0;
}
.box-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.5s;
  transform: translateY(40px);
  margin: 0 10px;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}
.box.fb a i{
  box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
  border-radius: 50%;
}
.box.in a i{
  box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
  border-radius: 50%;
}
.box i{
    font-size: 32px;
    height: 30px;
    color: #fff;
}
@media (max-width: 576px) {
  .box-center {
    display: block;
  }
  .box-card {
    margin: 40px;
  }
  body{
    display: unset;
  }
}

.heart {
  width: 50px;
  margin-bottom: 20px;
  animation: heartBeat 1s ease-in-out infinite;
}

@keyframes heartBeat {
  0% {
    transform: scale(0.9);
  }

  45% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.9);
  }
}
.container .content {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  font-family: 'Moon Dance', cursive;
}
.time {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.days span{
  color: red;
  font-size: 6.5rem;
}
.time h2,
.time p {
  margin: 0;
  margin-bottom: 4px;
}

.time h2 {
  font-size: 3rem;
  
}

.time p {
  font-size: 2rem;
  color: #00ffb8;
}

.sup-time {
  font-weight: 300;
}
.button{
  border-radius: 50px;
  background: rgb(0 0 0 / 0%);
  border-bottom: 1px solid rgb(255 255 255);
  box-shadow: none;
}
.button:hover{
  box-shadow: none;
}